DATABASE_URL=

DB_USER=
DB_NAME=
DB_PASS=
DB_HOST=
DB_PORT=

APP_URL=
CORS_ORIGIN=

NODE_ENV=development
NODE_ENV=production

JWT_SECRET=
JWT_EXPIRES_IN=

FARAZSMS_API_KEY=
FARAZSMS_PATTERN_CODE=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

ADMIN_PHONE_NUMBER=
ADMIN_NATIONAL_CODE=